.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #007acc;
  color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-btn {
  background: #ff9800;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}